@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

/* @utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
} */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .grid-center {
    display: grid;
    place-items: center;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-1 {
    flex: 1 1 0;
  }
  .scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

:root:root {
  /* font-size: 62.5% !important; */
  /* font-size: clamp(50px, 5.2083333333333336vw, 150px) !important; */
  /* font-size: 16px; */
  color: #213547;
  background-color: #f5f5f5;
  --custom-color: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f5f5f5;
    background-color: #213547;
  }
}
