@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

/* @utility content-auto {
  content-visibility: auto;
}
@utility center {
  align-items: center;
  justify-content: center;
  display: flex;
} */

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .flex-end {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-no-wrap {
    flex-wrap: nowrap;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .flex-shrink {
    flex-shrink: 1;
  }
  .flex-none {
    flex: none;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .flex-5 {
    flex: 5;
  }
  .flex-6 {
    flex: 6;
  }
  .flex-7 {
    flex: 7;
  }
  .flex-8 {
    flex: 8;
  }
  .flex-9 {
    flex: 9;
  }
  .flex-10 {
    flex: 10;
  }
  .flex-11 {
    flex: 11;
  }
  .flex-12 {
    flex: 12;
  }
  .flex-13 {
    flex: 13;
  }
  .flex-14 {
    flex: 14;
  }
}

html,
body,
#root {
  /* font-size: 62.5% !important; */
  /* font-size: clamp(50px, 5.2083333333333336vw, 150px) !important; */
  /* font-size: 16px; */
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f5;
  }
} */
