@import 'tailwindcss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px !important;
  /* font-size: 62.5% */
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f5;
  }
} */
