@import 'tailwindcss';
@reference "tailwindcss";

/* @utility content-auto {
  content-visibility: auto;
}
@utility center {
  align-items: center;
  justify-content: center;
  display: flex;
} */

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px !important;
  /* font-size: 62.5% !important; */
  /* font-size: clamp(50px, 5.2083333333333336vw, 150px) !important; */
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f5;
  }
} */
