@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

/* @utility content-auto {
  content-visibility: auto;
}
@utility center {
  align-items: center;
  justify-content: center;
  display: flex;
} */

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html,
body,
#root {
  /* font-size: 62.5% !important; */
  /* font-size: clamp(50px, 5.2083333333333336vw, 150px) !important; */
  /* font-size: 16px; */
  color: #213547;
  background-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f5f5f5;
    background-color: #213547;
  }
}
